/* header */
.header-wrap {
    width: 100%;
    min-width: 1240px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 11;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    transition: all 0.5s;
} 

.header-wrap.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;

    animation: downheader 0.5s;
}
@keyframes downheader {
    0% {
        top: -5rem;
    }
    100% {
        top: 0;
    }
}
/* header fixed */
.header-wrap.header_fixed .main-menu > ul > li > a {
    color: #0d0d0d;
}

/* header on */
.header-wrap.header_on {
    background: #fff;
}
.header-wrap.header_on  {
    height: 350px;
    background: #fff;
}
.header-wrap.header_on .logohide {
    visibility: visible;
}
.header-wrap.header_on .main-menu > ul > li > a {
    color: #0d0d0d;
}


 
.header-row-01 {
    width: 1240px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
    #index-logo {
        width: 177px;
        height: 80px;
        position: relative;
        background: url(../img/logo_white.svg) no-repeat center;
    }
    #index-logo > a {
        display: block;
        width: 177px;
        height: 80px;
    }
    #index-logo > a > span {
        display: block;
        width: 177px;
        height: 80px;
        position: absolute;
        left: 0;
        background: url(../img/logo_black.svg) no-repeat center;
        z-index: 3;
    }
    .logohide {
        visibility: hidden;
    }

    .main-menu {
        width: 700px;
        height: 80px;
        font-size: 14pt;
    }

    .main-menu > ul {
        display: flex;
        justify-content: space-evenly;
        width: 700px;
        height: 80px;
        text-align: center;
    }
    .main-menu ul > li {
        position: relative;
        width: 100%;
    }
    .main-menu > ul > li > a {
        line-height: 80px;
        color: #fff;
    }
    .main-menu > ul > li > a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 0;
        height: 4px;
        background: #144835;
        transition: 0.3s all 0s;
      }

      
    .main-menu > ul.hover > li > a:after {
        width: 0;
    }
    .main-menu > ul.hover > li:last-child >a::after {
       width: 0;
    }
    .main-menu > ul.hover > li:last-child.on >a::after {
        transform: translateX(-20px);
        width: calc(100% - 10px);
    }
    .main-menu > ul.hover > li.on > a::after {
     width: calc(100% - 60px);
    }

    .main-menu > ul > li.on > a {
        font-weight: 600;
    }

    .main-menu > ul > li  a:hover {
        font-weight: 600;
        color: #144835;
    }

    .main-menu > ul > li > ul> li.on span {
        font-weight: 600;
        color: #144835;
    }
    
    .sub-menu {
        font-size: 12pt;
    }

    .sub-menu > li > a {
        line-height: 50px;
    }

    .sub-menu-02 li > a {
        line-height: 40px;
    }

/* slide*/